<section *ngIf="weatherData.current" class="current card-setup">
  <h2>Current weather in:</h2>
  <h3>
    {{ locationData?.name }}, {{ locationData?.country }},
    {{ locationData?.state }}
  </h3>
  <ul class="head">
    <li>
      <img
        src="http://openweathermap.org/img/wn/{{
          [weatherData.current.weather[0].icon]
        }}.png"
        alt="currently weather icon"
      />
      <p>{{ weatherData.current.weather[0].description }}</p>
    </li>
    <li>
      <p><b>Temp:</b>{{ " " }}{{ weatherData.current.temp }}°C</p>
    </li>
    <li>
      <p><b>Feels like:</b>{{ " " }}{{ weatherData.current.feels_like }}°C</p>
    </li>
    <li>
      <p><b>Humidity:</b>{{ " " }}{{ weatherData.current.humidity }}%</p>
    </li>
    <li>
      <p><b>UV index:</b>{{ " " }}{{ weatherData.current.uvi }}</p>
    </li>
  </ul>
  <hr />
  <ul class="main">
    <li>
      <p><b>Cloudiness:</b>{{ " " }}{{ weatherData.current.clouds }}%</p>
    </li>
    <li *ngIf="weatherData.current.rain">
      <p>{{ weatherData.current.rain }}mm</p>
    </li>
    <li *ngIf="!weatherData.current.rain"><p>It is not raining!</p></li>
    <li *ngIf="weatherData.current.snow">
      <p>{{ weatherData.current.snow }}mm</p>
    </li>
    <li *ngIf="!weatherData.current.snow"><p>It is not snowing!</p></li>
    <li>
      <p><b>Wind speed:</b>{{ " " }}{{ weatherData.current.wind_speed }}m/s</p>
      <p></p>
    </li>
    <li>
      <p>
        <b>Visibility in m:</b>{{ " " }}{{ weatherData.current.visibility }}m
      </p>
    </li>
  </ul>
  <hr />
  <ul class="end">
    <li>
      <p><b>Current time:</b>{{ " " }}{{ weatherData.current.dt }}</p>
    </li>
    <li>
      <p><b>Sunrise:</b>{{ " " }}{{ weatherData.current.sunrise }}</p>
    </li>
    <li>
      <p><b>Sunset:</b>{{ " " }}{{ weatherData.current.sunset }}</p>
    </li>
  </ul>
</section>
<app-skeleton-card
  *ngIf="weatherData.current"
  loadingLine="The Weather data for today will be provided soon!"
></app-skeleton-card>
