<section class="current card-setup">
  <h2>Current weather in:</h2>
  <h3>.name .country .state</h3>
  <ul class="head">
    <li></li>
    <li><b>Temp:</b>{{ " " }}</li>
    <li><b>Feels like:</b>{{ " " }}</li>
    <li><b>Humidity:</b>{{ " " }}</li>
    <li><b>UV index:</b>{{ " " }}</li>
  </ul>
  <ul class="main">
    <li><b>Cloudiness:</b>{{ " " }}</li>
    <li></li>
    <li></li>
    <li><b>Wind speed:</b>{{ " " }}</li>
    <li><b>Visibility in m:</b>{{ " " }}</li>
  </ul>
  <ul class="end">
    <li><b>Current time:</b>{{ " " }}</li>
    <li><b>Sunrise:</b>{{ " " }}</li>
    <li><b>Sunset:</b>{{ " " }}</li>
  </ul>
</section>
