.current {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));

  h2 {
    grid-column: span 4 / span 4;
    font-size: 3rem;
    line-height: 1;
    padding-bottom: 2rem;
    text-align: center;
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    grid-column: span 6 / span 6;
    font-size: 3rem;
    line-height: 1;
  }

  hr {
    margin-top: 1rem;
    border-color: rgb(148 163 184);
    border-width: 1px;
    display: none;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
  }

  .head {
    grid-column: span 3 / span 3;
    align-items: center;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: capitalize;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: span 4 / span 4;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: rgb(148 163 184);
    align-items: center;
    border-style: solid;
  }

  .end {
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-column: span 5 / span 5;
  }

  b {
    font-weight: bold;
  }

  @media screen and (max-width: 600px) {
    h2 {
      grid-column: span 12 / span 12;
    }

    h3 {
      grid-column: span 12 / span 12;
    }

    hr {
      width: 90vw;
      display: block;
    }

    .head {
      grid-column: span 12 / span 12;
    }

    .main {
      grid-column: span 12 / span 12;

      border-style: none;
    }

    .end {
      grid-column: span 12 / span 12;
    }
  }
}
