<form autoComplete="off">
  <div>
    <input
      [(ngModel)]="geoInput"
      placeholder="Search for a location..."
      type="text"
      name="geoInput"
      id="geoInput"
      (keyup)="getGeoCode()"
    />
    <ul *ngIf="locationsArray.length > 0" class="search-dropdown">
      <div *ngFor="let item of locationsArray">
        <li
          (click)="
            getWeatherNow(item.lat, item.lon);
            setLocationCur({
              name: item?.name,
              country: item?.country,
              state: item?.state
            })
          "
        >
          {{ item?.name }}, {{ item?.country }}, {{ item?.state }}
        </li>
      </div>
    </ul>
  </div>
  <button>Search</button>
</form>
